<!--
  NOTE: Info top bar about the user
    collocutor: the other user in the conversation
-->
<div class="flex p-3">
  <div class="flex items-center">
    <%= render 'users/avatar', user: collocutor, size: 'md' %>
    <div class="ml-2">
      <div class="font-semibold"><%= collocutor.name %></div>
      <div class="text-gray-500">@<%= collocutor.uid %></div>
    </div>
  </div>
</div>
