<div id="conversation" class="h-screen">
  <% if recipient %>

    <div class="h-full flex flex-col">
      <%= render 'messages/collocutor_top_bar', collocutor: recipient %>

      <%= render 'messages/messages', collocutor: recipient %>

      <%= render 'messages/form', collocutor: recipient %>
    </div>

  <% else %>
    <div class="h-full flex justify-center items-center">Please select a conversation.</div>
  <% end %>
</div>
