<div class="flex justify-between text-gray-500 text-sm">
  <div class="w-full flex items-center">
    <%= link_to tweet, class: "hover:text-blue-500" do %>
      <i class="fa fa-comment-o mr-2"></i>
      <%= tweet.replies.size > 0 ? tweet.replies.size : nil %>
    <% end %>
  </div>
  <div class="w-full">
    <%=
      render 'retweets/retweet_button',
        tweet: tweet,
        retweeted: @retweets_per_tweet_id[tweet.id]&.user_id == current_user.id
        #retweeted: retweeted_tweet_ids.include?(tweet.id)
    %>
  </div>
  <div class="w-full">
    <%= render 'tweets/likes', tweet: tweet, liked: liked_tweet_ids.include?(tweet.id) %>
  </div>
  <div class="w-full">
    <i class="fa fa-upload"></i>
  </div>
</div>
